body{
  background-color: rgb(240, 188, 46);
}
.ctnr{
  border: 2px solid ;
  background: green;
}
.header{
  border: 2px solid;
  padding: 2rem;
  background-image: url('../images/Akan\ Colors.jpg');
}
.header h1{
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  margin: 0 20rem;
  color: rgb(240, 188, 46);
}
.country{
  width: 45%;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(240, 188, 46);
  margin-right: .1rem;
}
.akan-names{
  background: rgba(0, 0, 0, 0.8);
  color: rgb(240, 188, 46);
}
#month, #date{
  width: 5rem;
  margin-right: 1rem;
}
#year{
  width: 8rem;
  margin-right: 2rem;
}
#result{
  padding: 1.5rem;
  background: green;
  margin-top: .5rem;
  font-size: 1.2rem;
}
#sub-btn, #res-btn{
  color: whitesmoke;
  background-color: green;
  padding: .6rem 1rem;
  border-radius: 7px;
  border: none;
  outline: none;
  margin: .5rem;
}
#sub-btn:hover, #res-btn:hover{
  cursor: pointer;
  color: rgb(240, 188, 46);
}
.footer{
  background-color: black;
  padding: 1rem;
}
.footer li{
  display: inline;
}
.footer li a span{
  padding: .3rem;
  font-size: 1.5rem;
  color: whitesmoke;
}
.footer-bottom{
  text-align: center;
}