body{
  background-color: rgb(240, 188, 46);
}
.ctnr{
  border: 2px solid ;
  background: green;
}
.header{
  border: 2px solid;
  padding: 2rem;
  background-image: url('../images/Akan\ Colors.jpg');
}
.header h1{
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  margin: 0 20rem;
  color: rgb(240, 188, 46);
}
.country{
  width: 45%;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(240, 188, 46);
  margin-right: .1rem;
}